<head>
    <link rel="stylesheet" href="/css/questions.css">
    <link rel="stylesheet" href="/css/modal.css">
</head>

<body>
    {{error}}
    <div id="myModal" class="modal">
        <div class="modal-content">
            <h2>welcome, stranger!</h2>
            <h1 style="color: #4bc4a1">we all know the saying <br>
                "don't judge a book by it's cover." <br></h1>
            <h2 style="color: black">first
                impressions are
                typically wrong and
                based on stereotypical profiling. </h2>
            <h2> but what if... someone explicitly requested you to judge them by an image?</h2>
            <button class="button">let's go!</button>
            <br>
        </div>

    </div>

    <br>
    <div class="singleQuestion center">
        <img src="data:image/png;base64, {{image}}" width="250" />
        <h2>{{question.question}}</h2>
        <form method="post" class="game" action="/">
            <input type="hidden" name="question_id" id={{question._id}} value="{{question._id}}">
            <div class="manyAnswers center">
                {{#each question.answers}}
                <div>
                    <button class="singleAnswer" type="submit" id={{this.value}} onclick="reveal" name="userGuess"
                        value="{{this.letter}}">{{this.value}}</button><br>
                    {{userGuess}}
                </div>
                {{/each}}
            </div>
        </form>
        <br>
        <div id="disp" style="color:green; font-size:18px; font-weight:bold;">
        </div>
    </div>

</body>

<script>
    var modal = document.getElementById("myModal");
    let modalShown = localStorage.getItem("modalShown")

    if (!modalShown) {
        modal.style.display = "block";
        localStorage.setItem("modalShown", true)
    }

    var button = document.getElementsByClassName("button")[0];
    button.onclick = function () {
        modal.style.display = "none";
    }

    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }

</script>