<head>
    <link rel="stylesheet" href="/css/questions.css">
</head>
<br>

<div class="singleQuestion" onload="handleVote()">
    <img src="data:image/png;base64, {{image}}" width="400" />
    <h2>{{question.question}}</h2>
    {{#each question.answers}}
    <h3 label="{{this.timesVoted}}"><strong style="color: black" label="{{this.letter}}">{{this.timesVoted}} /
            {{../totalVotes}} % guessed {{this.value}}</strong>
    </h3>
    {{/each}}
    <a class="button" href="/">next question</a>
</div>
</div>

<script>
    const correctAnswer = "{{ question.correctAnswer }}"
    console.log("correctAnswer", correctAnswer)
    const userGuess = "{{ userGuess }}"

    const strong = document.querySelectorAll("strong")
    strong.forEach((s) => {
        if (s.getAttribute("label") === correctAnswer) {
            s.setAttribute("style", "color: green")
        }
        else if (s.getAttribute("label") === userGuess) {
            s.setAttribute("style", "color: red")
        }

    })
    const totalVotes = " {{totalVotes}} "
    const answers = document.querySelectorAll("h3")
    let percentage = 0
    const test = new Array()
    answers.forEach((a) => {
        percentage = Math.floor(a.getAttribute("label") / parseInt(totalVotes) * 100)
        test[a.getAttribute("label")] = percentage
    })

</script>