<head>
  <link rel="stylesheet" href="/css/questions.css">
</head>
<br />
{{error}}
{{success}}
<div class="singleQuestion container">
  <h1>my profile</h1>
  <h2>Welcome, stranger!</h2>

  <div id="beforePhoto">
    <p>To get started, upload an image of yourself. The less context, the better.</p>

    <form action="/uploadpicture" method="POST" enctype="multipart/form-data">
      <input type="file" name="picture" accept="application/x-zip-compressed,image/*" onchange="loadFile(event)">
      <br>
      <p><img id="output" width="400" /></p>
      <!-- here! -->
      <input class="button" type="submit" value="Save image">
    </form>
  </div>

  <div id="afterPhoto" style="display: none;">
    <img src="data:image/png;base64, {{image}}" width="250" id="propic" />
    <h2>Nice face!</h2>

  </div>


  <div id="questions" style="display: none">

    <p> Next, add up to 10 questions about yourself! Get creative with your answers.</p>

    <button class="button" type="button" onclick="showHide()">Add question +</button>
    </br></br>
    <div id="myDIV" style="display: none">
      <form method="post" action="/profile">
        question: <input type="text" name="question" required></br>
        </br>
        a) <input type="text" name="a" required></br>
        b) <input type="text" name="b" required></br>
        c) <input type="text" name="c" required></br>
        d) <input type="text" name="d" required></br>
        </br>
        correct answer (just the letter!): <input type="text" size="2" name="correctAnswer" required></br>
        </br>
        <input class="button" type="submit" value="Save">
      </form>
    </div>
    <br>


    <h1> questions </h1>
    <h2> Let's see what people think you are like... are you nervous?</h2>
    <div class="manyQuestions">
      {{#each questions}}
      <div class="singleQuestion">
        <h2>{{this.question}}</h2>
        {{#each this.answers}}
        <h3 label="{{../this._id}}" value="{{this.timesVoted}}" id="{{this.letter}}">
          <strong style="color: #4bc4a1; text-decoration: underline">{{this.value}}</strong> guessed {{this.timesVoted}}
          times
        </h3>
        {{/each}}
        <div class="editDelete">
          <br>
          <form method="post" action="/profile/questions/delete">
            <button class="button" type="submit" id={{this.value}} onclick="reveal" name="questionId"
              value="{{this._id}}">delete</button><br>
          </form>
        </div>
      </div>

      {{/each}}
    </div>
  </div>
</div>

<div class="editDelete">
  <br>
  <form method="post" action="/profile/delete">
    <button class="deleteProfile" type="submit" name="profileId" value="{{currentUser}}">
      I can't take the judgment! (delete my account)</button><br>
  </form>
</div>

<script>

  const loadFile = function (event) {
    const image = document.getElementById('output');
    image.src = URL.createObjectURL(event.target.files[0]);
  };
  const showHide = function () {
    var x = document.getElementById("myDIV");
    if (x.style.display === "none") {
      x.style.display = "block";
    } else {
      x.style.display = "none";
    }
  }

  const save = document.getElementById("save")
  const img = document.getElementById("propic")


  if (img.src.length > 50) {
    const beforePhoto = document.getElementById("beforePhoto")
    const afterPhoto = document.getElementById("afterPhoto")
    const questions = document.getElementById("questions")
    questions.style.display = "block";
    afterPhoto.style.display = "block";
    beforePhoto.style.display = "none";
  }

</script>